
.container{
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 300px;
    margin-top: 20px;
    /* background: #b3a494; */
    padding-bottom: 30px;
 
    
}

.loginform{
    background-color: #c3ba9f;
}


.header{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 9px;
    width: 100%;
    margin-top: 10px;
}
.text{
    color: #603514;
    font-size: 40px;
    font-weight: 600;
}
.underline{
    width: 61px;
    height: 6px;
    border-radius: 9px;
    background: #603514;

}
.inputs{
    margin-top: 25px;
    display: flex;
    flex-direction: column;
    gap: 25px;
    
}
.input{
    display: flex;
    align-items: center;
     margin: auto; 
    width: 400px;
    height: 40px;
    border-radius: 6px;
    background-color: #eee7e7;
}
.input img{
    margin: 0px 30px;

}
.input input{
    height: 50px;
    width: 400px;
    background: transparent;
    border: none;
    outline: none;
    color: #797979;
    font-size: 19px;
}
.forgot-password{
    padding-left: 62px;
    margin-top: 27px;
    margin-bottom: 27px;
    color: #393434;
    font-size: 18px;
}
.forgot-password span{
    color: #603514;
    cursor: pointer;

}
.submit-container{
    margin-top: 25px;
    display: flex;
    gap: 30px;
    height: 45px;

}
.submit{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 35px;
    color: #fff;
    background-color: #7b5935;
    border-radius: 50px;
    font-size: 15px;
    font-weight: 600;
    cursor: pointer;
}
.gray{
    background: #EAEAEA;
    color: #676767;
}